
	

<div class="col-md-8">
	<div class="page-header">
	  <h1>Top stories for you</h1> 
	</div>	<!-- page-header -->

<div class="panel panel-default">
	<%by = User.find(@question.user_id)%>
	<div class="panel-heading"><b><%= @question.title %></a></b>
		
		<div class="pull-right"><small> by <a href="users/<%=@question.user_id%>"><%=by.name%></a>, </small>
		 <p class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="<%=(@question.created_at).ago_in_words%>"></p>
		</div> <!-- pull right -->
	</div> <!-- panel-heading -->


		<div class="panel-body"
			 <p><%= @question.body %></p>
		</div>

	<div class="panel-footer">
	 

	 			<button type="button" class="btn btn-default navbar-btn btn-xs glyphicon glyphicon-thumbs-up"><span style="glyphicon glyphicon-thumbs-up"></span> | <%=@question.qvotes.where(upvote: 1).count%></button>
				<button type="button" class="btn btn-default navbar-btn btn-xs glyphicon glyphicon-thumbs-down"><span style="glyphicon glyphicon-thumbs-down"></span></button>
			
			<div class="pull-right">
				Answers: <span class="badge"><%=@question.answers.count%></span>
			</div>
	</div>			 
</div> <!-- panel-default -->


<!-- QUESTIONS UPVOTE -->

<%=@question.qvotes.where(upvote: 1).count%>
	<form action="/upvote/<%= @question.id %>" method="post">
		<input type="hidden" name="question_id" value="<%=@question.id%>">
		<input type="submit" value="Up" name="Upvote" />
	</form>

<!-- DOWNVOTE -->

	<form action="/downvote/<%= @question.id %>" method="post">
		<input type="hidden" name="question_id" value="<%=@question.id%>">
		<input type="submit" value="Down" name="Downvote" />
	</form>

	
<%=@question.qvotes.where(downvote: 1).count%>

<!--  -->

<br />
<br />

	<% if authorization? (@question.user_id)%>
		<a href="/questions/<%=@question.id%>/edit"><button>Edit question</button></a>

		<form action="/questions/<%= @question.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete">
		</form>
	<%end%>



<!-- ANSWEEEEEEER CREATE -->

<% if logged_in?%> 
	<form action="/answers" method="post">
		<input type="hidden" name="question_id" value="<%=@question.id%>">
		<label>Answer: </label>
		<textarea type="text" name="comment"></textarea>
		<input type="submit" name="Create Answer" />
	</form>
<% else %>
<p>Just registered users can create answers - please log in or create a new account</p>
<% end %>

<!-- ANSWEEEEEER SHOW -->

<h2>Answers:</h2>

<%@question.answers.each do |a| %>
Answer: <%=a.comment%> <br><br>
			<% if authorization? (a.user_id)%>
			<button type="button" class="btn btn-default">Edit</button>
			<button>Delete</button>
			<%end%>
<%end%>

<!-- ANSWER UPVOTE -->

<%=@question.qvotes.where(upvote: 1).count%>
	<form action="/upvote/<%= @question.id %>" method="post">
		<input type="hidden" name="question_id" value="<%=@question.id%>">
		<input type="submit" value="Up" name="Upvote" />
	</form>

<!-- ANSWER DOWNVOTE -->

	<form action="/downvote/<%= @question.id %>" method="post">
		<input type="hidden" name="question_id" value="<%=@question.id%>">
		<input type="submit" value="Down" name="Downvote" />
	</form>
<%=@question.qvotes.where(downvote: 1).count%>

