<h1>Question</h1>

Title: <%= @question.title %> <br />
Description: <%= @question.body %> <br />
	

<!-- QUESTIONS UPVOTE -->

<%=@question.qvotes.where(upvote: 1).count%>
	<form action="/upvote/<%= @question.id %>" method="post">
		<input type="hidden" name="question_id" value="<%=@question.id%>">
		<input type="submit" value="Up" name="Upvote" />
	</form>

<!-- DOWNVOTE -->

	<form action="/downvote/<%= @question.id %>" method="post">
		<input type="hidden" name="question_id" value="<%=@question.id%>">
		<input type="submit" value="Down" name="Downvote" />
	</form>

	
<%=@question.qvotes.where(downvote: 1).count%>

<!--  -->

<br />
<br />

	<% if authorization? (@question.user_id)%>
		<a href="/questions/<%=@question.id%>/edit"><button>Edit question</button></a>

		<form action="/questions/<%= @question.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete">
		</form>
	<%end%>



<!-- ANSWEEEEEEER CREATE -->

<% if logged_in?%> 
	<form action="/answers" method="post">
		<input type="hidden" name="question_id" value="<%=@question.id%>">
		<label>Answer: </label>
		<textarea type="text" name="comment"></textarea>
		<input type="submit" name="Create Answer" />
	</form>
<% else %>
<p>Just registered users can create answers - please log in or create a new account</p>
<% end %>

<!-- ANSWEEEEEER SHOW -->

<h2>Answers:</h2>

<%@question.answers.each do |a| %>
Answer: <%=a.comment%> 
			<% if authorization? (a.user_id)%>
			<button type="button" class="btn btn-default">Edit</button>
			<button>Delete</button>
			<%end%>
<%end%>

<!-- ANSWER UPVOTE -->

<%=@question.qvotes.where(upvote: 1).count%>
	<form action="/upvote/<%= @question.id %>" method="post">
		<input type="hidden" name="question_id" value="<%=@question.id%>">
		<input type="submit" value="Up" name="Upvote" />
	</form>

<!-- ANSWER DOWNVOTE -->

	<form action="/downvote/<%= @question.id %>" method="post">
		<input type="hidden" name="question_id" value="<%=@question.id%>">
		<input type="submit" value="Down" name="Downvote" />
	</form>
<%=@question.qvotes.where(downvote: 1).count%>

