
<div class="col-md-8">
	<div class="page-header">
	  <h1>Top stories for you</h1> 
	</div>	<!-- page-header -->

<!-- <div class="bs-callout bs-callout-danger" > <h3>Alternate elements</h3> <p>Feel free to use <code>&lt;b&gt;</code> and <code>&lt;i&gt;</code> in HTML5. <code>&lt;b&gt;</code> is meant to highlight words or phrases without conveying additional importance while <code>&lt;i&gt;</code> is mostly for voice, technical terms, etc.</p> </div> -->
	
	<%@top_stories.each do |a|%>
		<div class="panel panel-default">
			<%by = User.find(a.user_id)%>
			<div class="panel-heading"><b><a href="questions/<%=a.id%>"><%= a.title %></a></b>
				
				<div class="pull-right"><small> by <a href="users/<%=a.id%>"><%=by.name%></a>, </small>
				 <p class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="<%=(a.created_at).ago_in_words%>"></p>
				</div> <!-- pull right -->
			</div> <!-- panel-heading -->


	 		<div class="panel-body"
	 			 <%if a.body.length >= 200%>
	 			 <p><%=a.body + "  ..."%></p>
	 			 <%else%>
	 			 <p><%= a.body %></p>
	 			 <%end%>
			</div>

			 <div class="panel-footer">
			 			<button type="button" class="btn btn-default navbar-btn btn-xs glyphicon glyphicon-thumbs-up"><span style="glyphicon glyphicon-thumbs-up"></span> | <%=a.qvotes.where(downvote: 1).count%></button>
						<button type="button" class="btn btn-default navbar-btn btn-xs glyphicon glyphicon-thumbs-down"><span style="glyphicon glyphicon-thumbs-down"></span></button>
					
					<div class="pull-right">
						<a href="questions/<%=a.id%>">Answers: </a><span class="badge"><%=a.answers.count%></span>
					</div>
			 </div>			 
		</div> <!-- panel-default -->
	<%end%>		
		<nav>
			<ul class="pagination">
				<%= will_paginate @top_stories%>
			</ul>
		</nav>
</div> <!-- col-md-8 -->


<div class="col-md-4">

		<div class="page-header">
		<h1>User's board</h1>
		</div>
	<% if logged_in?%> 

			<div class="form-group jumbotron">
				
				<%users_questions = Question.where(user_id: current_user.id).order(id: :desc).limit(5)%>
				<%if users_questions.count > 0 %>
					<h4>YOUR QUESTIONS</h4><br />
					<%users_questions.each do |q|%>
						<ul class="list-group">	
						<li class="list-group-item">
						<span class="badge"><%=q.answers.count%></span>
							<a href="questions/<%=q.id%>">
								<%if q.title.length >= 22%>
								<%=q.title.first(22) + "  ..."%>
								<%else%>
								<%=q.title%>
								<%end%>
							</a>
						</li>
						</ul>	
					<%end%>
				<div class="pull-right"><em><small>
				
					<a href="users/<%=current_user.id%>">Edit</a> or 
				
					<a href="#" data-toggle="modal" data-target="#AskQuestionButton">Ask New Question</a>

				</small></em></div><br><br>
			
			<%else%>
			<p>Hello <%=current_user.name%>,</p>
			<p>you did not ask any question yet.</p><br>
			<a href="#" data-toggle="modal" data-target="#AskQuestionButton"><button type="button" class="btn btn-primary">Create a Question now</button></a><br><br><br>
			<p>Need help?</p><br>
			<ol>
				<li><a href="#">1. Why start?</a></li><br>
				<li><a href="#">2. How to ask question</a></li><br>
				<li><a href="#">3. Help our community</a></li><br>
				<li><a href="#">4. Go level up</a></li><br>
			</ol>

				
			<%end%>					
			</div>
	<%else%>


<!-- 	<div class="jumbotron">	 -->
		<div class="form-group jumbotron">
			
			<form action="/users/login" method="post">
				<p>Login</p><br />
			 	<input type="email" class="form-control" placeholder="Email" name="email">
			<br />
			 	<input type="password" class="form-control" placeholder="Password" name="password">
			 	<br />
			 	<input type="submit" class="btn btn-primary" value="Login">
			</form>
			<br><br>
			<a href="#" data-toggle="modal" data-target="#RegistrationButton">No account yet? Create a new account</a>
		</div>
	<!-- </div> -->
	<%end%>
</div>


