<h1>Profile</h1>

Name: <%= @user.name %> <br />
Email: <%= @user.email %> <br />
Description: <%= @user.description %> <br />

<!-- BUTTONS LOGOUT, DELETE, EDIT -->
<!-- visible just if logged -->

<% if authorization? (@user.id)%>
		<a href="/users/<%=@user.id%>/edit"><button>Edit profile</button></a>

		<form action="/users/<%= @user.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete">
		</form>


		<form action="/logout" method="POST">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Logout">
		</form>
	<%end%>


<!-- QUESTIONS -->

<h2>Questions</h2>

<% @user.questions.each do |q| %>	
<ul>
<li>Question: <%= q.title %></li>
<li>Description: <%= q.body %></li>
<% if logged_in? %>
		<a href="/questions/<%=q.id%>/edit"><button>Edit Question</button></a>

		<form action="/questions/<%=q.id%>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete">
		</form>
<% end %>		
</ul>
<% end %>
<a href="/questions/create"><button>Create Question</button></a>
