<div class="container">
  <br>
  <div class="jumbotron">
<div class="pull-right"><button type="button" class="btn btn-primary glyphicon glyphicon-cog"></button></div>
 	<div class="bs-callout bs-callout-danger" >
	
    <p class="glyphicon glyphicon-user"><strong> <%= @user.name %></strong></p><br>
	<p class="glyphicon glyphicon-envelope"> <%= @user.email %> </p><br><br><br>
	<p>Quesitons: <%=@user.questions.count%></p>
	<p>Answers: <%=@user.answers.count%></p><br><br>
	<blockquote><p><strong>About me</strong></p><p> <%= @user.description %></p> </blockquote><br>


	</div>
  	
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Your questions</h3>
			<br />
			
		<%@user.questions.each do |q|%>
		<ul class="list-group">	
		<li class="list-group-item">
			<span class="badge"><%=q.answers.count%></span>
			<a href="questions/<%=q.id%>">
				<%if q.title.length >= 22%>
				<%=q.title.first(22) + "  ..."%>
				<%else%>
				<%=q.title%>
				<%end%>
			</a>
		</li>
		</ul>
		<%end%>
    </div>

    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>




<h1>Profile</h1>



<!-- BUTTONS LOGOUT, DELETE, EDIT -->
<!-- visible just if logged -->

<% if authorization? (@user.id)%>

		<a href="/users/<%=@user.id%>/edit"><button>Edit profile</button></a>

<%end%>


<!-- QUESTIONS -->

<h2>Questions</h2>
<% @user.questions.each do |q| %>	
<ul>
<li>Question: <%= q.title %></li>
<li>Description: <%= q.body %></li>
<% if authorization? (@user.id)%>

	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle glyphicon glyphicon-cog" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="/questions/<%=q.id%>/edit"><button>Edit Question</button></a></li>
	    <li><form action="/questions/<%=q.id%>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete Profile">
		</form></li>

		

	  </ul>
	</div>

<a href="/questions/create"><button>Create Question</button></a>

		

<% end %>		
</ul>
<% end %>




