<!DOCTYPE html>
<html>
<head>
  <title>HelloWorld</title>

<!-- BOOTSTRAP 2 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/css/application.css" />

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- BOOOTSTRAP JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<nav class="navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">Quora</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

<!--         <li class="active"><a href="/users/registration">Registration <span class="sr-only">(current)</span></a></li>   -->    

      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control " placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
      </form>
<%unless current_user.nil?%>     
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Welcome <%=current_user.name%>            
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" data-toggle="modal" data-target="#AskQuestionButton">Ask Question</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/users/<%=current_user.id%>">View Profile</a></li>
            <li><a href="#">???</a></li>
            <li role="separator" class="divider"></li>
            <li><form action="/logout" method="POST">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Logout">
            </form>   
            </li>       
          </ul>
        </li>

      </ul>
      <%else%>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#" data-toggle="modal" data-target="#loginButton">Log In</a></li>
      <li><a href="#" data-toggle="modal" data-target="#RegistrationButton">Sign Up</a></li>
      <%end%>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	
<!-- 	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> -->


</head>
<body>

<!-- MODULE  LOGIN  FORM -->
<div class="modal fade" id="loginButton" tabindex="-1" role="dialog" aria-labelledby="loginButtonLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginButtonLabel">Log In</h4>
      </div>
      <div class="modal-body">
        <form action="/users/login" method="post">
          <div class="form-group">
            <label for="email" class="control-label">Email:</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label for="password" class="control-label">Password:</label>
            <input type="password" class="form-control" name="password">
          </div>
      </div>
      <div class="modal-footer">
        <input type="submit" value="Login" class="btn btn-primary"></input>
        <a href="#" data-toggle="modal" data-target="#RegistrationButton"><button type="button" class="btn btn-default" data-dismiss="modal">Registration</button></a>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END OF MODULE  LOGIN   FORM -->


<!-- MODULE  REGISTRATION  FORM -->
<div class="modal fade" id="RegistrationButton" tabindex="-1" role="dialog" aria-labelledby="RegistrationButtonLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="RegistrationButtonLabel">Log In</h4>
      </div>
      <div class="modal-body">
        <form action="/users" method="post">
          <div class="form-group">
    
            <input type="text" class="form-control" placeholder="Username" name="name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" name="email">
          </div>          
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" name="password">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Confirm Password" class="form-control" name="password_confirmation">
          </div>          
      </div>
      <div class="modal-footer">
        <input type="submit" value="Registration" class="btn btn-primary"></input>
        <a href="#" data-toggle="modal" data-target="#loginButton"><button type="button" class="btn btn-default" data-dismiss="modal">Login</button></a>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END OF MODULE  REGISTRATION   FORM -->


<!-- MODULE  CREATE A QUESTION  FORM -->

<div class="modal fade" id="AskQuestionButton" tabindex="-1" role="dialog" aria-labelledby="AskQuestionButtonLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="AskQuestionButtonLabel">Ask a Question</h4>
      </div>
      <div class="modal-body">
        <form action="/questions" method="post">
          <div class="form-group">
            <label for="text" class="control-label">Question:</label>
            <input type="text" placeholder="Title" class="form-control" name="title">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Description:</label>
            <textarea class="form-control" placeholder="Tell us more..." name="body" id="message-text"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <input type="submit" value="Post it!" class="btn btn-primary"></input>
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Back</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END OF MODULE  CREATE A QUESTION   FORM -->

<!-- EDIT FORM -->
<%unless @user.nil?%>

<div class="modal fade" id="EditProfileButton" tabindex="-1" role="dialog" aria-labelledby="EditProfileButtonLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="EditProfileButtonLabel">Edit Profile</h4>
      </div>
      <div class="modal-body">
<form action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
          <div class="form-group">
          <label for="name" class="control-label">Username: </label>
            <input type="text" value="<%=@user.name%>" class="form-control" name="name"><br>
            <label for="email" class="control-label">Email: </label>
             <input type="email" value="<%=@user.email%>" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Description:</label>
            <textarea class="form-control" name="description" id="message-text"><%=@user.description%></textarea>
          </div><br>
          <label for="email" class="control-label">Confirm your password:</label>
          <div class="form-group">
            <input type="password" name="password" value="<%=@user.password%>"><br />
          </div>

      </div>
      <div class="modal-footer">
      <div class="pull-left"><input type="submit" value="Delete your Account" class="btn btn-danger"></input></div>
        <input type="submit" value="Update it" class="btn btn-primary"></input>



        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Back</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%end%>
<!-- EDIT FORM END  -->


<div class="container">

    <div class="row">

    <%= yield %>
    </div>
</div>  


<script language="JavaScript" type="text/javascript" src="/js/application.js"></script>
</body>
</html>